html, body {
    margin: 0;
    padding: 0;
}

div.container {
    background-color: black;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.container > div {
    background-color: #7159c1;
    height: 50%;
    width: 50%;
}